body { 
    background-color: violet;
	background-size: cover;
	background-repeat: no-repeat;
 }


.main {
    text-align: center;
    color: black;
    margin-top: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 2rem;
	animation-duration: 3s;
	animation-name: slidein2;
}


.button1 
{
	background-color: rgba(255, 255, 255, 0.8);;
	color: #111;
    border-color: transparent;
    height: 50px;
    width: 100px;
    font-size: 1rem;
    border-radius: 10px;
}

.button1:hover 
{
    background-color: #111;
    color: rgba(255, 255, 255, 0.8);;
}
